$divWidth: 569px;
$divHeight: 643px;
$headingFont: normal normal 900 36px/53px Heebo;
$pFont: normal normal normal 20px/29px Heebo;
$labelFont: normal normal bold 16px/24px Heebo;
$buttonFont: normal normal bold 22px/30px Heebo;
$buttonWidth: 166px;
$buttonHight: 50px;
$bgColor: #1A1A1AD4;
$pColor: #F9F9F9;
$pinkColor: #D31C75;
$textColor: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}